<p id="notice"><%= notice %></p>
<<<<<<< HEAD

<div>
<%= @client.logoLarge %>
</div>
=======
<%= @client.client %>
<%= image_tag @client.logoLarge.url %>
>>>>>>> add_bourbon

<% @client_submissions.each do |submission| %>
	<%= submission.name %>
	<%= link_to 'Show Submission', client_submission_path(submission) %>

	
<%end%>	
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
<p><%= link_to 'Create Submission', new_client_submission_path(@client) %> </p>
